* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Thanks, https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 67%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #0047AB;
  color: #fff;
  padding: 15px;
}

main {
  background-color: #ffffff;
  color: black;
  word-spacing: 0.25em;
  line-height: 20px;
  border: 1px #cdcdcd double;
}

header {
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 90px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #FFFFFF;
}

.header {
  text-align: center;
}

h2 {
  text-align: center;
}

h2 a {
  font-size: 24px;
  line-height: 1.5em;
  color: #ffffff;
}

h2 a:hover {
  color: #000000;  
}

h3 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

h4 {
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  display: block;
  background-color: #dfdfdf;
  color: #000000;
  padding: 15px;
  border: 2px #a9a9a9 double;
}

h5 {
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #ffffff;
  color: #FFFFFF;
  padding: 20px;
}

.updates {
  text-align: right;
  font-size: 14px;
  padding: 10px;
  color: #000000;
}

header a:visited {
  color: #FFFFFF;
}

footer {
  border: 1px #cdcdcd double;
}

footer a:visited {
  color: #565656;
}

footer a:hover {
  color: #000000;
}

ul {
  text-align: left;
  margin: 30px;
}

search {
  font-size: 17px;
  text-align: center;
  background-color: #e7e7e7;
  border: 2px #a9a9a9 double;
  padding: 20px;
}

img {
  max-width: 810px;
}

a {
  cursor: pointer;
}

a:link {
  color: #cdcdcd;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}