* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background: #0047AB;
    color: #000000;
}
  
main {
    background-color: #FFFFFF;
    word-spacing: 0.25em;
    line-height: 20px;
    border: 1px #cdcdcd double;
}
  
header {
    font-size: 25px;
    letter-spacing: 4px;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #FFFFFF;
  }
  
.header {
    text-align: center;
}

h2 {
    text-align: center;
    color: #FFFFFF;
}
  
h2 a {
    font-size: 28px;
    color: #ffffff;
  }
  
h2 a:hover {
    color: rgb(0, 0, 0);  
}

h3 {
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    padding: 15px;
}

h4 {
    color: #000000;
    font-size: 24px;
    text-align: center;
    padding: 15px;
}

h5 {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

.about {
    color: #000000;
    padding-bottom: 10px;
    text-align: center;
}

.updates {
    text-align: right;
    font-size: 16px;
    padding: 10px;
    color: #000000;
}


header a:visited {
    color: #FFFFFF;
}

footer {
    border: 1px #cdcdcd double;
}

footer a:visited {
    color: #565656;
}
  
footer a:hover {
    color: #000000;
}

a {
    cursor: pointer;
    font-weight: bolder;
}

a:link {
    color: #cccccc;
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    text-align: center;
    padding: 15px;
}

.lang {
    text-align: right;
    padding: 8px;
    font-size: 16px;
}

p {
    font-size: 18px;
}
