* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Thanks, https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

.column3 {
  float: left;
  width: 67%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #0047AB;
  color: #ffffff;
}

main {
  background-color: #ffffff;
  color: #000000;
  word-spacing: 0.25em;
  line-height: 20px;
  border: 1px #cdcdcd double;
}

header {
  font-size: 25px;
  letter-spacing: 4px;
  padding-top: 0px;
  padding-bottom: 15px;
  color: #FFFFFF;
}

.header {
  text-align: center;
}

h2 {
  text-align: center;
  color: #FFFFFF;
}

h2 a {
  font-size: 28px;
  color: #ffffff;
}

h2 a:hover {
  color: #000000;  
}

h3 {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  padding: 15px;
}

h4 {
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  display: block;
  background-color: #efefef;
  color: #000000;
  padding: 10px;
  border: 2px #a9a9a9 double;
}

h5 {
  font-size: 18px;
  letter-spacing: 4px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
}

.updates {
  text-align: right;
  font-size: 16px;
  padding: 10px;
  color: #000000;
}

header a:visited {
  color: #FFFFFF;
}

footer {
  border: 1px #cdcdcd double;
}

footer a:visited {
  color: #565656;
}

footer a:hover {
  color: #000000;
}

ul {
  text-align: left;
  margin: 30px;
}

search {
  font-size: 17px;
  text-align: center;
  background-color: #efefef;
  padding: 10px;
}

a {
  cursor: pointer;
  font-weight: bolder;
}

a:link {
  color: #cccccc;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.lang {
  text-align: right;
  padding: 8px;
  font-size: 16px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

p {
  font-size: 18px;
}
